.banner-principal-decorativo
  &-1
    animation: float2 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 72%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 63%
  &-3
    animation: float1 3.8s ease-in-out infinite alternate
    position: absolute
    top: 31%
    right: 10%
  &-4
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 10%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)

.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important

.banner-interno__titulo__icono i
  color: $color-primario

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important


figcaption
  font-weight: normal

// Full Width Background
.bg-full-width, .bg-full-width-2
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem
.bg-full-width
  background-size: cover
.bg-full-width-2
  background-size: contain

.bg-fondo
  &-1
    background-image: url("../assets/curso/bg1.svg") 
    background-position: bottom
  &-2
    background-image: url("../assets/curso/bg2.svg") 
    background-position: bottom
  &-3
    background-image: url("../assets/curso/bg4.svg") 
    background-position: bottom

  &-slider
    background-image: url("../assets/curso/bg3.png") 
    background-position: bottom

.bg-color
  &-1
    background-color: #D6EDBA
  &-2
    background-color: #F5FBEE 
  &-3
    background-color: #FFEA99 
  &-4
    background-color: #E2DACC
  &-5
    color: #4C6929 !important
  &-6
    background-color: #FFCC00
  &-7
    background-color: #FFFAE6
  &-8
    background-color: #FFF5CC
  &-9
    background-color: #EBF6DD
  &-10
    background-color: #9CC8FF
  &-11
    background-color: #D7E9FF
  &-12
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(245, 251, 238, 1) 20%, rgba(255, 245, 204, 1) 80%, rgba(255, 255, 255, 1) 100%)
  &-13
    background-color: #EBF4FF
  &-14
    background-color: #CCA300
  &-15
    background-color: #F3F9FF

  &-white
    background-color: white !important
    border: 1px solid $lightest-gray
  &-secundario
    background-color: $color-secundario !important
  &-sintesis
    background-color: #F6F6F6

.pst
  position: absolute
  top: -16%
  right: 10%

//CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: #9CC8FF
  border-radius: 25px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: -30px
  width: 50px
  bottom: -3px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 20px

//////////////CUSTON SLYDER////////
.slyder-a__bullets__item 
  background-color: #D0B3AE
  border: #D0B3AE
.slyder-a__bullets__item--active
  background-color: #9028E2
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: #CB03E0

////////////ACORDION/////////////
.acordion__accion__btn--a
  background-color: #9028E2 !important
.acordion__activo
  background-color: #D6EDBA !important

.acordion__activo
  .acordion__titulo 
    h3
      color: $color-sistema-texto !important
.acordion__accion__btn--a::before
  color: white

.tabs-b__tab
  background-color: #D6EDBA
.tabs-b__tab--active, .tabs-b__content-item
  background-color: #EBF6DD

///////////////TABLAS///////////////////
.tabla-a td
  text-align: start !important
th, td, table thead th, .tabla-a th 
  border: 2px solid #B5B5B5
table
  table-layout: auto

.tabla-a.color-acento-botones thead
  border-color: #9CC8FF

///////////// CUSTOM LINEA DE TIEMPO D
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #D7E9FF !important
      color: $color-sistema-texto
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #D7E9FF

/// non selected
.linea-tiempo-d__item.row
  .col-auto.linea-tiempo-d__item__col-number
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: #D6EDBA
    .linea-tiempo-d__item__dots:after
      border-left: 4px dotted #adb8c2 !important
  .col
    .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
      background-color: #D6EDBA

.tabs-a__tab
  background-color: #FFCC00
.tabs-a.color-acento-botones .tabs-a__tab__selected
  color: white !important
.tarjeta.color-acento-botones--borde
  border: none
  background-color: #FFF5CC






